[submodule "Spatial-Operations-and-Image-Noise-Filtering"]
	path = Spatial-Operations-and-Image-Noise-Filtering
	url = git@github.com:amirmallak/Spatial-Operations-and-Image-Noise-Filtering.git
[submodule "Image-Transformation-Using-Morphing-Sequence"]
	path = Image-Transformation-Using-Morphing-Sequence
	url = git@github.com:amirmallak/Image-Transformation-Using-Morphing-Sequence.git
[submodule "Image-Processing-with-SLT-Mapping"]
	path = Image-Processing-with-SLT-Mapping
	url = git@github.com:amirmallak/Image-Processing-with-SLT-Mapping.git
[submodule "Image-General-Filtering"]
	path = Image-General-Filtering
	url = git@github.com:amirmallak/Image-General-Filtering.git
[submodule "Detecting-Edges-and-Finding-Patterns"]
	path = Detecting-Edges-and-Finding-Patterns
	url = git@github.com:amirmallak/Detecting-Edges-and-Finding-Patterns.git
[submodule "Hough-Transform-on-Ellipses"]
	path = Hough-Transform-on-Ellipses
	url = git@github.com:amirmallak/Hough-Transform-on-Ellipses.git
